USE [master]
GO
/****** Object:  Database [Teste]    Script Date: 02/03/2017 08:32:55 ******/
CREATE DATABASE [Teste]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Teste', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Teste.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Teste_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Teste_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teste].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teste]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/03/2017 08:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Estado] UNIQUE NONCLUSTERED 
(
	[Descricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 02/03/2017 08:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[IdFornecedor] [bigint] IDENTITY(1,1) NOT NULL,
	[CNPJ] [nvarchar](20) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[IdFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Fornecedor] UNIQUE NONCLUSTERED 
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FornecedorRegiao]    Script Date: 02/03/2017 08:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FornecedorRegiao](
	[IdFornecedorRegiao] [bigint] IDENTITY(1,1) NOT NULL,
	[IdFornecedor] [bigint] NOT NULL,
	[IdRegiao] [bigint] NOT NULL,
 CONSTRAINT [PK_FornecedorRegiao] PRIMARY KEY CLUSTERED 
(
	[IdFornecedorRegiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_FornecedorRegiao] UNIQUE NONCLUSTERED 
(
	[IdFornecedor] ASC,
	[IdRegiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regiao]    Script Date: 02/03/2017 08:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiao](
	[IdRegiao] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Descricao] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Regiao] PRIMARY KEY CLUSTERED 
(
	[IdRegiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FornecedorRegiao]  WITH CHECK ADD  CONSTRAINT [FK_FornecedorRegiao_Fornecedor] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[Fornecedor] ([IdFornecedor])
GO
ALTER TABLE [dbo].[FornecedorRegiao] CHECK CONSTRAINT [FK_FornecedorRegiao_Fornecedor]
GO
ALTER TABLE [dbo].[FornecedorRegiao]  WITH CHECK ADD  CONSTRAINT [FK_FornecedorRegiao_Regiao] FOREIGN KEY([IdRegiao])
REFERENCES [dbo].[Regiao] ([IdRegiao])
GO
ALTER TABLE [dbo].[FornecedorRegiao] CHECK CONSTRAINT [FK_FornecedorRegiao_Regiao]
GO
ALTER TABLE [dbo].[Regiao]  WITH CHECK ADD  CONSTRAINT [FK_Regiao_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Regiao] CHECK CONSTRAINT [FK_Regiao_Estado]
GO
USE [master]
GO
